<div class="centered-page-container">
<h2>List of ratings</h2>

  <p>Ratings count: <%= @ratings.count %></p>

  <% if current_user %>
    <%= link_to 'Create a new rating', new_rating_path, class: "btn btn-primary" %>
  <% end %>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Beer</th>
        <th>Rating</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td>
          <%= rating.beer.name %>
        </td>
        <td>
          <%= rating.score %> / 50
        </td>
        <td>
          <%= link_to rating.user.username, rating.user %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>