<div>
  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <h1>Ratings</h1>
      <p>Ratings count: <%= @ratings.count %></p>
      <% if current_user %>
        <%= link_to 'Create a new rating', new_rating_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <%= render "top_three_beers", beers: @top_beers %>
    </div>
    <div class="col-md-4">
      <%= render "top_three_breweries", breweries: @top_breweries %>
    </div>
    <div class="col-md-4">
      <%= render "top_three_styles", styles: @top_styles %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <h4>Most active users</h4>
      <%= render "most_active_raters_table" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Latest ratings</h4>
      <%= render "latest_ratings_table" %>
    </div>
  </div>

</div>