<%= form_with model: brewery, data: { controller: "breweries", action: "turbo:submit-end->breweries#onSubmitEnd" } do |form| %>
  <% if brewery.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>
      <ul>
        <% brewery.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <select data-action="change->breweries#pick" class="form-control">
    <% @breweries_from_api.each do |brewery| %>
      <option
        value="<%= brewery[:name] %>"
        data-name="<%= brewery[:name] %>"
        data-year="<%= brewery[:year] %>">
        <%= "#{brewery[:name]} (#{brewery[:year]})" %>
      </option>
    <% end %>
  </select>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", data: { breweries_target: "name" } %>
  </div>

  <div class="mb-3">
    <%= form.label :year, class: "form-label" %>
    <%= form.number_field :year, class: "form-control", data: { breweries_target: "year" } %>
  </div>

  <div class="mb-3">
    <%= form.label :active, class: "form-label" %>
    <%= form.check_box :active, class: "form-check", data: { breweries_target: "active" } %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= form.submit class: "btn btn-primary" %>
    </div>
    <div class="col-sm-6">
      <%= button_tag "Reset", class: "btn btn-secondary", type: "reset" %>
    </div>
  </div>
<% end %>
