<div id="<%= dom_id beer %>">
  <h2>
    <%= link_to beer.name, beer %>
  </h2>

  <% if beer.ratings.empty? %>
    <p>Beer has not been rated yet!</p>
  <% else %>
    <p>Beer has <%= beer.ratings.count %> ratings with an average of <%= beer.average_rating %> / 50</p>
  <% end %>

  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <!-- Rails automatically replaces the beer.brewery with brewery_path -->
    <%= link_to beer.brewery.name, beer.brewery %>
  </p>

</div>