<p style="color: green"><%= notice %></p>

<%= render @beer %>

<div>
  <%= link_to "Edit this beer |", edit_beer_path(@beer) if current_user %>
  <%= link_to "Back to beers", beers_path %>

  <% if current_user %>
    <%= button_to "Destroy this beer", @beer, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
  <% end %>
</div>
