
<div class="centered-page-container">
  <h1>Beer places search</h1>

  <%= form_with url: places_path, method: :post do |form| %>
  city <%= form.text_field :city %>
  <%= form.submit "Search" %>
  <% end %>

  <% if @weather %>
    <h3>Weather in <%= @city %></h3>
    <p>Temperature: <%= @weather.temperature %> Celsius</p>
    <img src="<%= @weather.weather_icons.first %>" alt="image showcasing weather">
    <p><%= @weather.weather_descriptions.join(", ") %></p>
    <p>Wind: <%= @weather.wind_speed %>m/s</p>
  <% end %>

  <% if @places %>
    <h2>Beer places in <%= @city %></h2>
    <% @places.each do |place| %>
      <div class="place" style="width: 60%">
        <h3><%= link_to place.name, place_path(place.place_id)%></h3>
      </div>
    <% end %>
  <% end %>
</div>
