
<div class="centered-page-container">
  <h1>Beer places search</h1>

  <p style="color: red"><%= notice %></p>

  <%= form_with url: places_path, method: :post do |form| %>
  city <%= form.text_field :city %>
  <%= form.submit "Search" %>
  <% end %>

  <% if @places %>
    <h2>Beer places in <%= @city %></h2>
    <% @places.each do |place| %>
      <div class="place" style="width: 60%">
        <h3><%= link_to place.name, place_path(place.place_id)%></h3>
      </div>
    <% end %>
  <% end %>
</div>
