<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ratebeer" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Metodi estämään CSRF-hyökkäyksiä -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left side nav items -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to "Breweries", breweries_path, class: "nav-link #{"active" if current_page?(breweries_path)}" %>
              </li>
              <li class="nav-item">
                <%= link_to "Beers", beers_path, class: "nav-link #{"active" if current_page?(beers_path)}" %>
              </li>
              <li class="nav-item">
                <%= link_to "Styles", styles_path, class: "nav-link #{"active" if current_page?(styles_path)}" %>
              </li>
              <li class="nav-item">
                <%= link_to "Users", users_path, class: "nav-link #{"active" if current_page?(users_path)}" %>
              </li>
              <li class="nav-item">
                <%= link_to "Ratings", ratings_path, class: "nav-link #{"active" if current_page?(ratings_path)}" %>
              </li>
              <li class="nav-item">
                <%= link_to "Beer places", places_path, class: "nav-link #{"active" if current_page?(places_path)}" %>
              </li>
              <li class="nav-item">
                <%= link_to "Clubs", beer_clubs_path, class: "nav-link #{"active" if current_page?(beer_clubs_path)}" %>
              </li>
            </ul>

            <!-- Right side nav items -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <% if current_user %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= current_user.username %>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <%= link_to "Profile", current_user, class: "dropdown-item" %>
                    </li>
                    <li>
                      <%= link_to "Rate a beer", new_rating_path, class: "dropdown-item" %>
                    </li>
                    <li>
                      <%= link_to "Join a club", new_membership_path, class: "dropdown-item" %>
                    </li>
                    <li>
                      <%= link_to "Sign out", session_path, data: { turbo_method: :delete }, class: "dropdown-item text-danger" %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'Sign up', new_user_path, class: "nav-link #{'active' if current_page?(new_user_path)}" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Sign in', new_session_path, class: "nav-link #{'active' if current_page?(new_session_path)}" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container mb-3">
      <% if notice %>
        <div class="alert alert-primary" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-10">
          <%= yield %>
        </div>
        <div class="col-sm-2">
          <img
            src="http://www.cs.helsinki.fi/u/mluukkai/wadror/pint.jpg"
            width="200"
            style="padding-top:30px"
          >
        </div>
      </div>
    </div>


    <footer class="bg-dark text-center text-white mt-auto">
      <div class="container p-4 pb-0">
        <section class="mb-4">
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2025 Copyright:
        <a class="text-white" href="#!">Ratebeer</a>
      </div>
    </footer>
  </body>
</html>
